.controller-groups {
  .lato-index-desk {
    .table {
      tbody, thead {
        td:not(:last-child), th:not(:last-child) {
          width: 99%;
        }

        td:last-child {
          text-align: right;
        }
      }
    }
  }
}