.controller-groups .lato-index-desk-col-value-actions {
  width: 225px;
  text-align: right;
}

.controller-groups .lato-index-desk-col-label-actions {
  width: 225px;

  > div {
    justify-content: flex-end;
  }
}