<%= lato_page_head 'New group', [
  { label: I18n.t('lato_spaces.spaces'), path: lato_spaces.root_path },
  { label: 'Groups', path: lato_spaces.groups_path }
] %>

<div class="card">
  <div class="card-body">
    <%= render "form", group: @group %>
  </div>
</div>