<%= lato_page_head I18n.t('lato_spaces.groups'), [
  { label: I18n.t('lato_spaces.spaces'), path: lato_spaces.root_path }
] %>

<div class="card">
  <div class="card-body">
    <%= lato_index @groups,
      custom_actions: {
        create: {
          path: lato_spaces.groups_create_path,
          icon: 'bi bi-plus',
          data: { lato_action_target: 'trigger', turbo_frame: dom_id(LatoSpaces::Group.new, 'form'), action_title: I18n.t('lato_spaces.new_group') }
        }
      }
    %>
  </div>
</div>