<%= lato_page_head 'Edit group', [
  { label: 'Spaces', path: lato_spaces.root_path },
  { label: 'Groups', path: lato_spaces.groups_path },
  { label: @group.name, path: lato_spaces.groups_show_path(@group) }
] %>

<div class="card">
  <div class="card-body">
    <%= render "form", group: @group %>
  </div>
</div>