<%= lato_page_head 'New membership', [
  { label: I18n.t('lato_spaces.spaces'), path: lato_spaces.root_path },
  { label: 'Groups', path: lato_spaces.groups_path },
  { label: @group.name, path: lato_spaces.groups_show_path(@group) }
] %>

<div class="card">
  <div class="card-body">
    <%= render "form", membership: @membership %>
  </div>
</div>