<%= lato_page_head 'Edit space', [
  { label: 'Spaces', path: lato_spaces.spaces_path },
  { label: @space.name, path: lato_spaces.space_path(@space) }
] %>

<div class="card">
  <div class="card-body">
    <%= render "form", space: @space %>
  </div>
</div>
