<%= lato_page_head 'Spaces' %>

<div class="card">
  <div class="card-body">
    <%= lato_index @spaces,
      custom_actions: {
        create: {
          path: lato_spaces.new_space_path,
          icon: 'bi bi-plus',
          data: { lato_action_target: 'trigger', turbo_frame: dom_id(LatoSpaces::Space.new, 'form'), action_rows: 8 }
        }
      }
    %>
  </div>
</div>