<%= lato_page_head 'New space member', [
  { label: @space.name },
  { label: 'Spaces', path: lato_spaces.spaces_path }
] %>

<div class="card">
  <div class="card-body">
    <%= render "form-member", space_member: @space_member %>
  </div>
</div>

