<%= lato_page_head 'Documentation' do %>
  <p class="lead">
    This is an example of a protected page.<br>
    Only logged in users with a selected group can access it.<br>
    Currently you are logged in as <strong><%= @session.user.email %></strong> and you are in the group <strong><%= @session.get(:spaces_group_id) %></strong>.
  </p>
<% end %>

<h2>How to use the gem</h2>

<p>
After installing the gem, import the <code>LatoSpaces::Groupable</code> concern in the main application controller:
</p>

<pre>
class ApplicationController < Lato::ApplicationController
  include LatoSpaces::Groupable

  # ...
end
</pre>

<p>
To require group selection before executing an action, simply call the <code>authenticate_group</code> concern function.<br>
If a group has been selected, you can access its id via the <code>get(:spaces_group_id)</code> function of <code>@session</code>.
</p>

<pre>
class ApplicationController < Lato::ApplicationController
  include LatoSpaces::Groupable

  def index
    return unless authenticate_group

    lato_spaces_group_id = @session.get(:spaces_group_id)
  end
end
</pre>

<div class="alert alert-info mt-3">
  <h4 class="alert-heading">Notes</h4>
  <p>
  Alternatively, you can call the <code>authenticate_group</code> function in a controller <code>before_action</code>.
  </p>
  <p>
<pre>
class ApplicationController < Lato::ApplicationController
  include LatoSpaces::Groupable
  before_action :authenticate_group

  def index
    lato_spaces_group_id = @session.get(:spaces_group_id)
  end
end
</pre>
  </p>
</div>

<h3>Usage on models</h3>

<p>
Any model can be associated with one or more groups using the <code>LatoSpaces::Associable</code> concern:
</p>

<pre>
class Product < ApplicationRecord
  include LatoSpaces::Associable
  
  # ...
end
</pre>

<p>
Through the concern, you can access all association functions:
</p>

<pre>
product = Product.all.first
product.lato_spaces_groups # list of groups associated with the product
product.add_to_lato_spaces_group(1) # adds the product to the group with id 1
product.remove_from_lato_spaces_group(1) # removes the product from the group with id 1
product.switch_lato_spaces_group(1) # removes the product from the first group and adds it to the group with id 1

Product.for_lato_spaces_group(1) # returns all products associated with the group with id 1
Product.with_lato_spaces_groups # returns all products associated with at least one group
Product.without_lato_spaces_groups # returns all products not associated with any group
</pre>

<p>
Through the <code>LatoSpaces::AssociableRequired</code> concern, you can require that a model is always associated with at least one group.<br>
The concern enforces passing the <code>:lato_spaces_group_ids</code> parameter when creating the model.<br>
Without the parameter, model creation will fail.
</p>

<pre>
class Product < ApplicationRecord
  include LatoSpaces::Associable
  include LatoSpaces::AssociableRequired
  
  # ...
end

product = Product.create(name: 'Product 1', lato_spaces_group_id: 1)
</pre>

<p>
Through the <code>LatoSpaces::AssociableUnique</code> concern, you can require that a model is associated with only one group.
</p>

<pre>
class Product < ApplicationRecord
  include LatoSpaces::Associable
  include LatoSpaces::AssociableUnique
  
  # ...
end
</pre>