<%= lato_page_head 'Documentation' do %>
  <p class="lead">
    This is an example of a protected page.<br>
    Only logged in users with a selected group can access it.<br>
    Currently you are logged in as <strong><%= @session.user.email %></strong> and you are in the group <strong><%= @session.get(:spaces_group_id) %></strong>.
  </p>
<% end %>

<h2>Come utilizzare la gemma</h2>

<p>
Dopo l''installazione della gemma importare il concern <code>LatoSpaces::Groupable</code> nel controller principale dell'applicazione:
</p>

<pre>
class ApplicationController < Lato::ApplicationController
  include LatoSpaces::Groupable

  # ...
end
</pre>

<p>
Per richiedere la selezione di un gruppo prima di eseguire una action basta richiamare la funzione del concern <code>authenticate_group</code>.<br>
Nel caso in cui un gruppo sia stato selezionato, è possibile accedere al suo id tramite la funzione <code>get(:spaces_group_id)</code> di <code>@session</code>.
</p>

<pre>
class ApplicationController < Lato::ApplicationController
  include LatoSpaces::Groupable

  def index
    return unless authenticate_group

    lato_spaces_group_id = @session.get(:spaces_group_id)
  end
end
</pre>

<div class="alert alert-info mt-3">
  <h4 class="alert-heading">Note</h4>
  <p>
  In alternativa è possibile richiamare la funzione <code>authenticate_group</code> in un <code>before_action</code> del controller.
  </p>
  <p>
<pre>
class ApplicationController < Lato::ApplicationController
  include LatoSpaces::Groupable
  before_action :authenticate_group

  def index
    lato_spaces_group_id = @session.get(:spaces_group_id)
  end
end
</pre>
  </p>
</div>

<h3>Utilizzo sui modelli</h3>

<p>
Qualsiasi modello può essere associato a uno o più gruppi utilizzando il concern <code>LatoSpaces::Associable</code>:
</p>

<pre>
class Product < ApplicationRecord
  include LatoSpaces::Associable
  
  # ...
end
</pre>

<p>
Attraverso il concern è possibile avere accesso a tutte le funzioni di associazione:
</p>

<pre>
product = Product.all.first
product.lato_spaces_groups # lista di gruppi associati al prodotto
product.add_to_lato_spaces_group(1) # aggiunge il prodotto al gruppo con id 1
product.remove_from_lato_spaces_group(1) # rimuove il prodotto dal gruppo con id 1
product.switch_lato_spaces_group(1) # rimuove il prodotto dal primo gruppo e lo aggiunge al gruppo con id 1

Product.for_lato_spaces_group(1) # restituisce tutti i prodotti associati al gruppo con id 1
Product.with_lato_spaces_groups # restituisce tutti i prodotti associati ad almeno un gruppo
Product.without_lato_spaces_groups # restituisce tutti i prodotti non associati a nessun gruppo
</pre>

<p>
Attraverso il concern <code>LatoSpaces::AssociableRequired</code> è possibile richiedere che un modello sia sempre associato ad almeno un gruppo.<br>
Il concern obbliga il passaggio del parametro <code>:lato_spaces_group_ids</code> al momento della creazione del modello.<br>
In assenza del parametro la creazione del modello fallirà.
</p>

<pre>
class Product < ApplicationRecord
  include LatoSpaces::Associable
  include LatoSpaces::AssociableRequired
  
  # ...
end

product = Product.create(name: 'Product 1', lato_spaces_group_id: 1)
</pre>

<p>
Attraverso il concern <code>LatoSpaces::AssociableUnique</code> è possibile richiedere che un modello sia associato ad un solo gruppo.
</p>

<pre>
class Product < ApplicationRecord
  include LatoSpaces::Associable
  include LatoSpaces::AssociableUnique
  
  # ...
end
</pre>